<script>
	import { enhance } from '$app/forms';
	import { onMount } from 'svelte';
	import { supabase } from '$lib/supabaseClient';

	/**
	 * @type {any[] | null}
	 */
	let forums = [];

	$: filteredForums = forums?.filter((element) => element.title.includes(searchText));

	/**
	 * @type {string}
	 */
	let title;
	/**
	 * @type {string}
	 */
	let name;

	/**
	 * @type {string}
	 */
	let detail;

	/**
	 * @type {string}
	 */
	let searchText = "";

	async function getForums() {
		//select * from forum
		let { data, error: err } = await supabase
			.from('forum')
			.select('*')
			.order('votes', { ascending: false });
			if (data) {
			forums = data;
		}
	}

	/**
	 * @param {string} id
	 * @param {number} votes
	 */
	async function voteUp(id, votes) {
		//update forum set votes = 100 where id = 23
		let { data, error } = await supabase
			.from('forum')
			.update({
				votes: votes + 1
			})
			.eq('id', id);
		getForums();
	}

	/**
	 * @param {string} id
	 * @param {number} votes
	 */
	async function voteDown(id, votes) {
		//update forum set votes = 100 where id = 23
		let { data, error } = await supabase
			.from('forum')
			.update({
				votes: votes - 1
			})
			.eq('id', id);
		getForums();
	}

	/**
	 * @param {any} id
	 */
	async function deleteForum(id) {
		let { data, error } = await supabase.from('forum').delete().eq('id', id);
		getForums();
	}

	async function postNewForum() {
		//insert into forum (title, posted_by, detail, votes)
		//values ("halo", "levi", "test halo", 0)
		let { data, error } = await supabase.from('forum').insert({
			title: title,
			posted_by: name,
			detail: detail,
			votes: 0
		});
		getForums();
	}

	onMount(() => getForums());
</script>
<header class="flex justify-between pt-4">
	<div class="label-text text-4xl text-center">Welcome to T3L3!</div>
	<!-- <h1 class="text-2xl">Welcome to T3L3!</h1> -->
	<!-- <button on:click={signOut} class="btn">Logout</button> -->
</header>

<div class="flex">
	<div class="w-3/5">
		<h1 class="text-xl mt-4">List Channel</h1>
		<input bind:value={searchText} class="mt-4 p-2 m-2 w-4/5 pr-16 input input-primary input-bordered" placeholder="Title to search" />
		{#if filteredForums}
			{#each filteredForums as forum}
				<!-- <a href="/forums/{forum.id}"> -->
					<article class="w-80 card shadow-md mt-2">
						<div class="card-body">
							<a href="/forums/{forum.id}">
								<h2 class="card-title text-primary text-underline">{forum.title} </h2>
								<p class="text-gray-500">{forum.votes} Votes</p>
								<p>{forum.detail}</p>
								<small>Posted by: {forum.posted_by}</small>
							</a>
							<div class="flex">
								<button
									on:click={() => voteUp(forum.id, forum.votes)}
									class="bg-green-400 rounded p-1 m-1 text-sm text-white">Up</button
								>
								<button
									on:click={() => voteDown(forum.id, forum.votes)}
									class="bg-red-400 rounded p-1 m-1 text-sm text-white">Down</button
								>
								<button
									on:click={() => deleteForum(forum.id)}
									class="bg-red-400 rounded p-1 m-1 text-sm text-white">Delete</button
								>
							</div>
						</div>
					</article>
				<!-- </a> -->
			{/each}
		{/if}
		<!-- {#each forums as forum}
		<div class="p-3 border m-1">
			<div>
				<h2 class="text-lg text-blue-600">
					<a href="/forums/{forum.id}">
						{forum.title}
					</a>
				</h2>
				<p class="text-gray-500">{forum.votes} Votes</p>
				<p>{forum.detail}</p>
				<small>Posted by: {forum.posted_by}</small>
			</div>
			<button
				on:click={() => deleteForum(forum.id)}
				class="bg-red-400 p-1 rounded text-white text-sm">Delete</button
			>
			<form class="my-2" method="POST" use:enhance>
				<input type="hidden" name="id" value={forum.id} />
				<button formaction="?/voteUp" class="bg-blue-400 p-1 rounded text-white text-sm"
					>Up</button
				>
				<button formaction="?/voteDown" class="bg-orange-400 p-1 rounded text-white text-sm"
					>Down</button
				>
			</form>
		</div>
	{/each} -->

	</div>
	<div class="w-1/5">
		<h1 class="text-xl mt-4">New Channel</h1>
		<input class="mt-4 pl-4 w-full text-sm border p-2 m-2 input input-primary input-bordered" type="text" placeholder="Channel Name" bind:value={title} />
		<input class="mt-4 pl-4 w-full text-sm border p-2 m-2 input input-primary input-bordered" type="text" placeholder="Name" bind:value={name} />
		<textarea
			rows="6"
			class="pl-4 h-40 w-full text-sm border p-2 m-2 input input-primary input-bordered"
			type="text"
			placeholder="Description"
			bind:value={detail}
		/>
		<button class="w-full bg-primary hover:bg-blue-700 text-white font-bold py-2 px-4 btn btn-primary" on:click={postNewForum}>Submit</button>
	</div>
</div>
