<script>
	import { onMount } from 'svelte';
	import { supabase } from '$lib/supabaseClient';
	import { page } from '$app/stores';

	/**
	 * @type {{ title: any; posted_by: any; detail: any; }}
	 */
	 let forum;

	/**
	 * @type {{ any[] }}
	 */
	 let comments;

	// /**
	//  * @type {string}
	//  */
	//  let title;

	/**
	 * @type {string}
	 */
	let nama;

	/**
	 * @type {string}
	 */
	let detail;

	/**
	 * @param {string} id
	 */
	async function getForum(id) {
		let { data, error: err } = await supabase.from('forum').select('*').eq('id', id).single();
		forum = data;
	}

	onMount(function () {
		let id = $page.params.id;
		getForum(id);
	});

	/**
	 * @param {string} id
	 */
	async function getComments(id) {
		let { data, error: err } = await supabase.from('comments').select('*').eq('id_forum', id).order('created_at', {ascending: false});
		comments = data;
		getComments(id);
	}

	onMount(function () {
		let id = $page.params.id;
		getComments(id);
	});


	async function postNewComments() {
		let id = $page.params.id;
		let { data, error } = await supabase.from('comments').insert({
			// title: title,
			posted_by: nama,
			detail: detail,
			id_forum: id
		});
		getComments(id);
	}

</script>


{#if forum}
	<div class="flex">
		<div class="w-3/5">
			{#if forum}
				<article class="card shadow-sm mt-2 text-center" >
					<div class="card-body">
						<div class="flex justify-center">
							<h1 class="text-xl justify-center">Forum</h1>
							<h1 class="ml-2 card-title justify-center text-primary ">{forum.title}</h1>
						</div>
						<p>Created By: {forum.posted_by}</p>
						<p>"{forum.detail}"</p>
					</div>
				</article>
				{/if}
				<div class="p-3">
					{#if comments}
					<h1 class="text-xl">Chats</h1>
					{#each comments as cmnts}
						<div class="pt-4 chat chat-start">
							<div class="chat-image avatar">
								<div class="w-10 rounded-full">
									<img src="https://picsum.photos/200/300?random=1" />
								</div>
							</div>
							<div class="chat-header"> {cmnts.posted_by}
								<time class="ml-full text-xs opacity-50">{cmnts.created_at[8]}{cmnts.created_at[9]}-{cmnts.created_at[5]}{cmnts.created_at[6]}-{cmnts.created_at[2]}{cmnts.created_at[3]}&nbsp;&nbsp;{cmnts.created_at[11]}{cmnts.created_at[12]}:{cmnts.created_at[14]}{cmnts.created_at[15]}</time>
							</div>
							<div class="chat-bubble">{cmnts.detail}</div> 
							<div class="chat-footer opacity-50">
								Delivered
							</div>
						</div>
					{/each}
					{/if}
			</div>
		</div>
		<div class="w-1/5">
			<h1 class="text-xl">New Chat</h1>
			<!-- <input class="mt-4 pl-4 w-full text-sm border p-2 m-2 input input-primary input-bordered" type="text" placeholder="Chat Name" bind:value={title} /> -->
			<input class="mt-4 pl-4 w-full text-sm border p-2 m-2 input input-primary input-bordered" type="text" placeholder="Name" bind:value={nama} />
			<textarea
				rows="6"
				class="h-40 mt-4 pl-4 w-full text-sm border p-2 m-2 input input-primary input-bordered"
				type="text"
				placeholder="Description"
				bind:value={detail}
			/>
			<form on:submit|preventDefault={postNewComments}>
				<button class="w-full bg-primary hover:bg-blue-700 text-white font-bold py-2 px-4 btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
{/if}


