<!-- <script>
  // @ts-nocheck
    import { onMount } from 'svelte';
    import {supabase} from '$lib/supabaseClient'
    import {readable, get} from 'svelte/store'
    import { page } from '$app/stores'

    /**
   * @type {unknown}
   */
      export let id
    /**
   * @type {any}
   */
      export let namech
    /**
   * @type {any}
   */
      export let detail

      export let posted_by

    // @ts-ignore
    async function addComment({target}) {
      const formData = new FormData(target)

      const {data, error} = await supabase
        .from('comments')
        .insert({
          detail: formData.get('comment'),
          posted_by: formData.get('names'),
          id_forum: id
        })
    }

    const comments = readable(null, (set) => {
    supabase
    .from('comments')
    .select('*')
        .filter('id_forum','eq', id)
    // @ts-ignore
    .then(({error, data}) => set(data))

    // add subscription to supabase logic
    const subscription = 
        supabase
            .channel('comments:id_forum=eq.' + id)
            .on('postgres_changes',{ event: '*', schema: '*' }, (payload) => {
                if (payload.eventType === 'INSERT') {
                // @ts-ignore
                set([...get(comments), payload.new])
            }
            })
            .subscribe()
            return () => supabase.removeChannel(subscription)
    })
</script>

{#if forum}
	<div class="flex">
		<div class="w-3/5">
			{#if forum}
				<h1 class="text-xl">Forum</h1>
				<h1 class="text-lg">{forum.title}</h1>
				<small>From: {forum.posted_by}</small>
				<p class="p-3">{forum.detail}</p>
			{/if}
			{#if comments}
				<h1 class="text-xl">Comment</h1>
				<h1 class="text-lg">{comments.title}</h1>
				<small>From: {comments.posted_by}</small>
				<p class="p-3">{comments.detail}</p>
			{/if}
		</div>
		<div class="w-1/5">
			<h1 class="text-xl">New Chat</h1>
			<input class="w-full text-sm border p-2 m-2" type="text" placeholder="Chat Name" bind:value={title} />
			<input class="w-full text-sm border p-2 m-2" type="text" placeholder="Name" bind:value={nama} />
			<textarea
				rows="6"
				class="w-full text-sm h-40 border rounded p-2 m-2"
				type="text"
				placeholder="Description"
				bind:value={detail}
			/>
			<button class="w-full text-sm bg-blue-600 text-white p-2 m-2" on:click={postNewComments}>Submit</button>
		</div>
	</div>
{/if} -->